<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Food-e</title>
</head>
<body>
stuffffffff
<ul class="recipes">
<% for(var i=0; i<recipes.length; i++) {%>
<li class="recipe">
<span><%= recipes[i].recipe_author %></span>
<span><%= recipes[i].recipe_body %></span>
</li>
<% } %>
</ul>
<form action="/stuff" method="POST">
<input type="text" placeholder="author" name="author">
<input type="text" placeholder="recipe" name="recipe">
<button type="submit">submit</button>
</form>
</body>
</html>
