<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Food-e</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="js/bootstrap.min.js"></script>
<script src="jquery.min.js"></script>

</head>
<body>
<div class="jumbotron text-center">
  <h1> Recipes </h1>
</div>
<div class="recipes">
<% for(var i=0; i<recipes.length; i++) {%>
<div class="panel panel-primary">
<tr class="recipe">
<span><%="Author: " + recipes[i].recipe_author %></span><br>
<span><%="Recipe: " + recipes[i].recipe_body %></span><br>
<button type="button" class="btn btn-success"> Edit  <span class="glyphicon glyphicon-pencil"></span> </button>
</tr>
</div>
<% } %>
</div>
<form action="/stuff" method="POST">
<input type="text" placeholder="author" name="author">
<input type="text" placeholder="recipe" name="recipe">
<button type="submit">submit</button>
</form>
</body>
</html>
