<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Food-e</title>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
stuffffffff
<ul class="recipes">
<% for(var i=0; i<recipes.length; i++) {%>
<li class="recipe">
<span><%="Author: " + recipes[i].recipe_author %></span><br>
<span><%="Recipe: " + recipes[i].recipe_body %></span>
<button type="button" class="btn btn-success"> Edit </button>
</li>
<% } %>
</ul>
<form action="/stuff" method="POST">
<input type="text" placeholder="author" name="author">
<input type="text" placeholder="recipe" name="recipe">
<button type="submit">submit</button>
</form>
</body>
</html>
